.tablaVideogamesSearched{
    padding-top: 20px;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.unVideogameSearched{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
}

.tamañoImagenSearched{
    width: 100%;
    max-width: 350px;
    height: 100%;
    max-height: 200px;
}

p{
    margin: 5px;
}